*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #FFF6D8;
    text-align: center;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
    color: white;
    font-size: 40px;

}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Bank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1; 
}

header h1{
    font-weight: lighter;
    filter: blur(0px);
}
.title{
    margin-top: 60px;
}
.title h1{
    font-size: 60px;
    font-weight: lighter;
}
.title h4{
    margin-top: 20px;
}
footer{
    background-color: #FFC973;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160px;
    margin-top: 100px;
    overflow: hidden;
}
footer div h4, footer div h5, footer div p{
    margin: 30px;
}
footer div h4{
    font-size: 30px;
}
footer div h5{
    color: #FFA600;
    font-size: 20px;
}
footer div p{
    color: white;
}
