body{
    background-image: linear-gradient(to bottom, #39556A, #70A7D0);
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
    color: white;
    font-size: 40px;

}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("stocks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: blur;
  animation-duration: 3s;
  z-index: -1;
}
header h1{
    position: relative;
    animation-name: moving;
    animation-duration: 3s;
}
@keyframes blur {
    0%{filter: blur(20px);}
    100%{filter: blur(0px);}
}
@keyframes moving {
    0%{right:-100%}
    100%{right: 0;}
}
input[type=radio]{
    display:none;
}
label{
    border-radius: 50px;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    margin: 30px;
    cursor: pointer;
    transition: all 600ms;
}
label:hover{
    width: 150px;
    
}
button:hover{
    background-color: white;
    box-shadow: 5px 5px black;
}
input[type=radio]:checked + label{
    background-color: white;
    box-shadow: 5px 5px ;
}
footer{
    background-color: #110041;
    border-top:5px solid cyan ;
}
footer h4{
    color: white;
}
footer h5{
    color: white;
}
footer p{
    color: rgb(58, 47, 122);
}
.bord{
    width: 400px;
    display: none;
    overflow: hidden;   
    background-color: white;
    border: 3px solid black;
    box-shadow: 10px 10px black;
    padding: 10px 10px;
    border-radius: 15px;
    text-align: start;
    margin-top: 30px;
}
.hi{
     background-image: linear-gradient(to right, #52a3e0, #9EAFB9);
    box-shadow: 10px 10px rgb(37, 37, 112);
    padding: 30px 30px;
    border-radius: 15px;
}